files/*
log/*
temp/*
node_modules/*
bower_components/*
private/components/*
.idea/*
!.idea/vcs.xml
nbproject/*
vendor/*
web/css/*
web/webtemp/*
web/images/*
!web/images/admin/*
web/components/*
*.DS_Store
!.gitignore
!.htaccess
!web.config
!web/css/*.md
!web/webtemp/*.md
tests/_temp/*
todo.md
app/config.*.neon
!app/config.*.dist.neon
vendor/autoload.php
autoload.php
migrations/*
