{block content}

<div class="container-fluid homepage-top">
    {position homepageDefaultTop}
</div>

<div class="container">

    {position homepageDefaultContent}

    {position homepageDefaultBottom}
</div>