<article class="text-center">
    {position articleControlTop}

    <header>
        <h5>{$entity->title|noescape}</h5>
    </header>

    <small id="text">{$entity->text|noescape}</small>

</article>